<!DOCTYPE html>
<html>
  <body>
    {% block content %} {% if locations %}
    <div>
      {% for loc in locations %}
      <div>
        Postcode: {{loc.postcode}} <br />
        Name: {{loc.name}} <br />
        Address: {{loc.address}} <br />
        <a href="{% url 'bupaBooking:locationDetails' loc.id %}"
          >{{loc.slots.count}} Slot{{loc.slots.count|pluralize}} Available</a
        >
        <hr />
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endblock %}
  </body>
</html>
